body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul{
    padding: 0;
}
ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.record{
    display: flex;
    justify-content: center;
}

.record-grid{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
}

.record-grid-num{
    font-size: 24px;
    letter-spacing: 20px;
}

.record-grid-v, .record-grid-t{
    font-size: 20px;
}
/* -------------------------------------- */
.numPad{
    max-width: 470px;
    width: 100%;
}

.numPad-mainNumber{
    display: flex;
    justify-content: center;
    letter-spacing: 15px;
    font-size: 30px;
}

.numPad-selection{
    display: flex;
    justify-content: space-evenly;
    
}
.numPad-buttons{
    display: flex;
    justify-content: space-between;
}

.selected{
    pointer-events: none;
}
.answer{
    align-self: flex-end;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer > ul {
    display: flex;
    font-size: 30px;
    margin: 0;
}